body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}


a {
    text-decoration: none;
}


hr {
    width: 1000px;
    margin: 50px auto 50px;
}


.container {
    padding-top: 5%;
}


.col {
    padding: 0;
}


.latest {
    margin: 2% 25%;
}


.gallery-img {
    margin: 4%;
}


.form {
    padding-bottom: 40%;
    text-align: left;
}


.contact-title {
    margin-top: 4%;
}


.navigation {
    text-align: right;
    padding-left: 45%;
}


.self-img {
    border-radius: 60%;
    margin: 2% 0;
}


.page-footer {
    padding-top: 3%;
}


.font1 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.75rem;
}


.font2 {
    font-family: 'Montserrat', sans-serif;
}


#name {
    color: black;
}


#brand {
    padding-left: 10%;
    
}


.new-img {
    margin-top: 2%;
    height: 200px;
    width: 200px;
}


#new-img {
    margin: 0 3%;
    height: 200px;
    width: 200px;
}


.banner {
    padding: 0;
}


#banner-img {
    width: auto;
    height: 725px;
}
